@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.home{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  background-color: rgb(32, 32, 32);
  color: white;
}
main{
  font-size: 100%;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}
#info > * {
  margin: 20px auto;
}
#info h1, #info h2 {
  text-align: center;
}
.profile {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
}
.AboutMe, .Contact {
  margin: 0 50px;
}
.AboutMe h3, .Contact h3 {
  text-align: center;
  border-bottom: solid 1px;
  margin-top: 50px;
  padding: 20px;
}
.AboutMe-item, .Contact-container {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}
.Contact-container {
  justify-content: center;
}
.Contact-item {
  text-align: center;
}
.Contact-item p {
  margin: 20px;
}
footer {
  text-align: center;
  background-color: gray;
  color: white;
  font-size: 100%;
  margin-top: auto;
}
.main-container {
    margin-left: 260px; /* 사이드바가 열려있을 때 */
    transition: all 0.5s ease;
    padding: 20px;
}

/* 사이드바가 닫혀있을 때 */
.sidebar.close ~ .main-container {
    margin-left: 78px;
}
@media screen and (max-width: 480px) {
  .main-content {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
   .main-content {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (min-width: 1281px) {
  .main-content {
    padding-left: 25%;
    padding-right: 25%;
  }
}